<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../min/main.css">
  <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../../node_modules/chart.js/dist/chart.umd.js"></script>
  <script src="../lib/momentjs/min/index.min.js"></script>
  <link rel='stylesheet' href='../lib/hopeui/assets/css/core/libs.min.css?v=1724239083' />
  <link rel='stylesheet' href='../lib/hopeui/assets/vendor/aos/dist/aos.css?v=1724239083' />
  <link rel='stylesheet' href='../lib/hopeui/assets/css/hope-ui.min.css?v=1724239083' />
  <link rel='stylesheet' href='../lib/hopeui/assets/css/custom.min.css?v=1724239083' />
  <link rel='stylesheet' href='../lib/hopeui/assets/css/dark.min.css?v=1724239083' />
  <link rel='stylesheet' href='../lib/hopeui/assets/css/customizer.min.css?v=1724239083' />
  <!--<link rel='stylesheet' href='/node_modules/noty/lib/noty.css?v=1724239667' />
  <link rel='stylesheet' href='/node_modules/noty/lib/themes/mint.css?v=1724239667' />
  <script src='/node_modules/noty/lib/noty.min.js?v=1724239667'></script>-->
  <link rel='stylesheet' href='../lib/hopeui/assets/css/min/main.css?v=1724451306' />
  <link rel='stylesheet' href='../lib/hopeui/assets/vendor/flatpickr/dist/flatpickr.min.css?v=1724239083' />

  <!--<link rel='stylesheet' href='/assets/Datepicker.js-master/dist/css/datepicker.material.css?v=1724415043' />-->
</head>

<body>
  <div id="loading d-none">
    <div class="loader simple-loader">
      <div class="loader-body"></div>
    </div>
  </div>
  <header id="titlebar">
    <div id="drag-region">
      <div id="window-title">
        <span id="title">Калькулятор Ярика</span>
      </div>

    </div>
    <div id="buttons">
      <div class="btn-group btn-group-sm" style="display: inline-block;">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addDay">Заполнить
          день</button>
        <a id="selectRange" class="btn btn-primary">Выбор промежутка даты</a>
      </div>
      <div class="dropdown" style="display: inline-block;">
        <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="false">
          Настройки
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="javascript://" onclick="app.setBalance()">Установите стартовый баланс</a></li>
          <li><a class="dropdown-item" href="javascript://" onclick="app.clearBase()">Очисть базу</a></li>
          <li><a class="dropdown-item" href="https://www.tbank.ru/cf/3kPf4PNrF2y" target="_blank"><b>На кофе ☕️</b></a></li>
        </ul>
      </div>
    </div>
    <div id="window-controls">
      <div class="button window-hover" id="min-button">
        <img class="icon" id="min" alt="minimize" srcset="./../icons/min-w-10.png" draggable="false" />
      </div>
      <div class="button window-hover" id="max-button">
        <img class="icon" id="max" alt="maximize" srcset="./../icons/max-w-10.png" draggable="false" />
      </div>
      <div class="button window-hover" id="restore-button">
        <img class="icon" id="restore" alt="restore" srcset="./../icons/restore-w-10.png" draggable="false" />
      </div>
      <div class="button window-hover-close" id="close-button">
        <img class="icon" id="close" alt="close" srcset="./../icons/close-w-10.png" draggable="false" />
      </div>
    </div>
    </div>
  </header>
  <div id="content"></div>


  <script src='../lib/hopeui/assets/vendor/flatpickr/dist/min/flatpickr.min.js?v=1724239083'></script>
  <script src='../lib/hopeui/assets/js/core/libs.min.js?v=1724239083'></script>
  <script src='../lib/hopeui/assets/js/core/external.min.js?v=1724239083'></script>
  <script src='../lib/hopeui/assets/js/charts/widgetcharts.js?v=1724239083'></script>
  <script src='../lib/hopeui/assets/js/charts/vectore-chart.js?v=1724239083'></script>
  <script src='../lib/hopeui/assets/js/charts/dashboard.js?v=1724239083'></script>
  <script src='../lib/hopeui/assets/js/plugins/fslightbox.js?v=1724239083'></script>
  <script src='../lib/hopeui/assets/js/plugins/setting.js?v=1724239083'></script>
  <script src='../lib/hopeui/assets/js/plugins/slider-tabs.js?v=1724239083'></script>
  <script src='../lib/hopeui/assets/js/plugins/form-wizard.js?v=1724239083'></script>
  <script src='../lib/hopeui/assets/vendor/aos/dist/aos.js?v=1724239083'></script>
  <script src='../lib/hopeui/assets/js/hope-ui.js?v=1724239083'></script>
  <script src='../lib/hopeui/assets/js/min/base64.min.js?v=1724239083'></script>
  <script src="./renderer.js"></script>
</body>

</html>